In [1]:
import pandas as pd
import numpy as np

In [9]:
header_list = ['Type','ArrivalTime','RVector','SizeQueue','LES','NbAgents','WaitingTime']
# open CSV file and assign header
with open("/Users/user/Desktop/final_dataset.csv", 'w') as file:
    dw = csv.DictWriter(file, delimiter=',', 
                        fieldnames=headerList)
    dw.writeheader()
    #display csv file
    fileContent = pd.read_csv("/Users/user/Desktop/final_dataset.csv")

/usr/local/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
data.head()

,30175,47059.0,1,0,0.0,96,1.0,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,30560.0,46434.0,8.0,1.0,0.0,71.0,43.0,NaN,NaN,NaN,NaN,NaN
1,30560.0,47005.0,1.0,1.0,0.0,71.0,1.0,NaN,NaN,NaN,NaN,NaN
2,30172.0,47098.0,1.0,0.0,0.0,66.0,20.0,NaN,NaN,NaN,NaN,NaN
3,30175.0,47190.0,7.0,6.0,0.0,96.0,57.0,NaN,NaN,NaN,NaN,NaN
4,30175.0,47014.0,3.0,0.0,0.0,96.0,1.0,NaN,NaN,NaN,NaN,NaN

In [11]:
data.shape

(193175, 12)